:root {
  --primary: #b3fae6;
  --secondary: #d1fff2;
  --terdary: #6cad9b;
  --letter: #7a4d40;
  --links: #ad6d5a;
}

* {
  margin: 0%;
  padding: 0%;
  color: var(--letter);
  overflow-anchor: none;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: var(--primary);
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--links);
}
